* {
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.score {
    text-align: center;
    text-justify: center;
}

h2 {
    text-align: center;
}

#minText {
    text-align: center;
}

#secText {
    text-align: center;
}
/* p {
    text-align: center;
} */
#card {
    display: flex;
    justify-content: space-around;
}